:root { 


--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);

--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);

--footer-bg: rgb(244, 247, 250);

--fs-h1: clamp(2.1rem, 3vw + 0.5rem, 4.3rem);
--fs-h2: clamp(1.7rem, 3vw  + 0.25rem, 3.5rem);
--fs-h3: clamp(1.4rem, 3vw  + 0.25rem, 3.1rem);
--fs-text: clamp(1.2rem, 2vw + 0.25rem, 2rem);

--fs-footer: clamp(1rem, 2vw + 0.25rem, 1.5rem);
}

/* ### Body Copy

- Font size: 18px

### Fonts

- Family: [Bai Jamjuree](https://fonts.google.com/specimen/Bai+Jamjuree)
- Weights: 400, 600 */


body { 
  font-family: 'Bai Jamjuree', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  height: 250px;
}

header img { 
  margin-bottom: 2rem;
}

/*CONTAINER*/
.container { 
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 1rem;
  min-width: 70%;
  line-height: 1.7rem;
  gap: 7rem;
}

/*CONTAINER MEDIA QUERY*/
@media(min-width: 1440px) { 
  .container { 
    /* padding: 15rem; */
  }
}
/**/
/**/

/*TYPOGRAPHY */
h1, h2, h3  { 
  color: var(--Dark-Grayish-Blue);
  font-weight: 600;
  line-height: 3rem;
}

h1 {
  font-size: var(--fs-h1);
}

h2 { 
  font-size: var(--fs-h2);
}

h3 { 
  font-size: var(--fs-h3);
}

article { 
  color: var(--Grayish-Blue);
  font-size: var(--fs-text);
  line-height: 2.5rem;
  font-weight: 400;
}

@media(min-width:1440px){
  article { 
    line-height: 4rem;
  }
}
/**/





/* INFO SECTION */
.info .info-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.info .mac-image { 
  margin: 4rem 0rem;
  width: 90%;
}

/*INFO MEDIA QUERIES*/
@media(min-width: 1440px) { 
  .info { 
    display: flex;
    gap: 3rem;
  }

  .info-text { 
    text-align: start;
    width: 50%;
    margin-right: 3rem;
    
  }

  .info .mac-image{ 
    margin: 0 auto;
    width:100%;
    height: 700px;
    margin-top: 250px;
  }
}
/**/


/*ACCESS CLIPBOARD ANYWHERE..*/
.remote {
  margin-top: 5rem;
}
.remote .devices-img { 
  width: 90%;
  margin-top: 4rem;
}
/**/


/*SUPERCHARGE YOUR WORKFLOW*/
.features { 
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 70%;
  align-self: center;
}

.workflow { 
  margin-bottom: 3rem;
}

@media (min-width: 1440px) { 
  .features section { 
    display: flex;
    gap: 15rem;
    line-height: 2rem;
  }
}
/**/



/*COMPANY LOGOS*/
.featured-companies { 
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-self: center;
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

/*COMPANY LOGOS MEDIA QUERIES*/
@media(min-width: 1440px) { 
  .featured-companies {
    flex-direction: row; 
  }
}
/**/

/* BUTTONS */
.buttons { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto 7rem;
  gap: 2rem;
}

.btn { 
  padding: 1rem 2rem;
  width: 80%;
  font-size: 1.3rem;
  font-weight: 200;
  border-radius: 30px;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  letter-spacing: 0.1rem;
}

.btn1 { 
  background-color: var(--Strong-Cyan);
  border: 1px hsl(150, 66%, 44%);
  box-shadow: -2px 14px 31px rgba(38, 186, 164, 0.4)  ; 
}

.btn2 { 
  background: var(--Light-Blue);
  border: 1px hsl(220, 100%, 69%);
  box-shadow: -2px 14px 31px rgba(97, 115, 255, 0.4)  ; 
}


/*BUTTONS MEDIA QUERIES*/
@media(min-width: 1440px) {
    .buttons { 
      flex-direction: row;
      width: 70%;
    }
}
/**/
/**/


/* FOOTER */
footer { 
  background-color: var(--footer-bg);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img { 
  height: 70px;
  margin: 3rem 0;
}

footer nav { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a { 
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
  padding-bottom: 2rem;
  font-size: var(--fs-footer);
}

footer .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.icons img { 
  max-width: 30px;
  max-height: 30px;
}







